-form_for('login', url(:sessions, :create), :class => 'form login-form', :remote => true) do |f|      
  == f.text_field :email, :class => :text_field, :name => :email, :title => :Email
  == f.text_field :password, :class => :text_area, :type => "password", :value => "Password", :name => :password
  == f.submit 'Login', :class => :btn