== f.select :grid_id, :options => @grids, :selected => @selected_grid
== f.text_field :title, :class => :text_field, :title => 'Dashboard Title'
== f.text_area :css, :class => :text_area, :name => :css, :title => :CSS    